:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 3652px;
  margin: 0 auto;
  background: #214d22;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle {
  position: relative;
  width: 1440px;
  height: 231px;
  margin: 0 0 0 0;
  background: #0d300e;
  z-index: 23;
}
.rectangle-1 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 75px;
  left: 81px;
  background: #d9d9d9;
  z-index: 29;
}
.climacrop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 91px;
  left: 189px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.history {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 103px;
  left: 979px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 103px;
  left: 805px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 103px;
  left: 634px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.login {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 103px;
  left: 1168px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}
.flex-row-b {
  position: relative;
  width: 1071px;
  height: 493px;
  margin: 284px 0 0 182px;
  z-index: 10;
}
.climate-based-crop-prediction {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 469px;
  height: 150px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  z-index: 6;
}
.rectangle-2 {
  position: absolute;
  width: 493px;
  height: 493px;
  top: 0;
  left: 578px;
  background: #d9d9d9;
  z-index: 5;
}
.improving-plantation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 436px;
  height: 120px;
  top: 212px;
  left: 7px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  z-index: 10;
}
.predict {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100px;
  top: 393px;
  left: 157px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.rectangle-3 {
  position: absolute;
  width: 334px;
  height: 76px;
  top: 405px;
  left: 61px;
  cursor: pointer;
  background: #598b2c;
  border: none;
  z-index: 8;
  border-radius: 40px;
}
.flex-row-ebd {
  position: relative;
  width: 1290px;
  height: 493px;
  margin: 577px 0 0 188px;
  z-index: 14;
}
.rectangle-4 {
  position: absolute;
  width: 493px;
  height: 493px;
  top: 0;
  left: 0;
  background: #d9d9d9;
  z-index: 12;
}
.three-regions-two-division {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 660px;
  height: 225px;
  top: 0;
  left: 630px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  text-overflow: initial;
  z-index: 13;
  overflow: hidden;
}
.predictions-terai-hilly-mountain {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 567px;
  height: 80px;
  top: 279px;
  left: 630px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  z-index: 14;
}
.flex-row-bd {
  position: relative;
  width: 945px;
  height: 643px;
  margin: 114px 0 0 248px;
  z-index: 21;
}
.polygon {
  position: absolute;
  width: 643px;
  height: 643px;
  top: 0;
  left: 151px;
  border: 20px dashed #598b2c;
  z-index: 21;
}
.flex-row-f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 447px;
  height: 75px;
  margin: 222px 0 0 105px;
  z-index: 16;
}
.optimize {
  flex-shrink: 0;
  position: relative;
  height: 75px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.predict-5 {
  flex-shrink: 0;
  position: relative;
  height: 75px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.visualize {
  display: block;
  position: relative;
  height: 75px;
  margin: 131px 0 0 231px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.advantages-climacrop {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 945px;
  height: 75px;
  top: 568px;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  white-space: nowrap;
  z-index: 19;
}
.state-art-databases {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 968px;
  height: 160px;
  margin: 52px 0 0 237px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-overflow: initial;
  z-index: 20;
  overflow: hidden;
}
.rectangle-6 {
  position: relative;
  width: 1440px;
  height: 751px;
  margin: 189px 0 0 0;
  background: #061a00;
  z-index: 3;
}
.kec-students {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 100px;
  top: 156px;
  left: 555px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.daniel-fazio-unsplash {
  position: absolute;
  width: 2131px;
  height: 2918px;
  top: -158px;
  left: -345px;
  background: url(./assets/images/736233d8841ace18d426bffa232c93724e5bc587.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.6000000238418579;
}
.union {
  position: absolute;
  width: 1572.667px;
  height: 2359px;
  top: 1286px;
  left: -66px;
  background: url(./assets/images/72d5a0c4-c3bb-432b-890e-5f6d2b14bfd5.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
