<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClimaCrop</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <div class="main-container">
      <div class="rectangle">
        <div class="rectangle-1"></div>
        <span class="climacrop">CLIMACROP</span
        ><span class="history">History</span><span class="about">About</span
        ><span class="home">Home</span><span class="login">Login</span>
      </div>
      <div class="flex-row-b">
        <span class="climate-based-crop-prediction"
          >climate based crop prediction</span
        >
        <div class="rectangle-2"></div>
        <span class="improving-plantation"
          >improving plantation by optimizing crops based on area temparature
          and rainfall</span
        ><span class="predict">predict</span
        ><button class="rectangle-3"></button>
      </div>
      <div class="flex-row-ebd">
        <div class="rectangle-4"></div>
        <span class="three-regions-two-division"
          >Three regions<br />Two division<br />sorting</span
        ><span class="predictions-terai-hilly-mountain"
          >predictions for terai, hilly, and mountain regions over cash or food
          crops</span
        >
      </div>
      <div class="flex-row-bd">
        <div class="polygon">
          <div class="flex-row-f">
            <span class="optimize">Optimize</span
            ><span class="predict-5">Predict</span>
          </div>
          <span class="visualize">Visualize</span>
        </div>
        <span class="advantages-climacrop">Advantages of using ClimaCrop</span>
      </div>
      <span class="state-art-databases"
        >State-of-the-art real time and historical rainfall and temperature
        databases<br />customization statistical learning methods<br />visualization
        and performance testing features<br />qualitative and quantitative
        impacts on future plantation techniques</span
      >
      <div class="rectangle-6">
        <span class="kec-students">by KEC students</span>
      </div>
      <div class="daniel-fazio-unsplash"></div>
      <div class="union"></div>
    </div>
  </body>
</html>
